body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-display: swap;
	line-height: 1.4;
	overflow-x: hidden !important;
	width: 100%;
	fill: currentColor;
	font-family: $font-base;
	font-size: rem(15px);
	&.show-menu {
		overflow: hidden;
	}
}
a {
	transition: $transition-hover;
	text-decoration: none;
}

/* HELPERS */

@media (max-width: 1023px) {
	.hide-mobile {
		display: none; 
	} 
}
  
@media (min-width: 1024px) {
	.hide-desktop {
		display: none; 
	} 
}