/* BRAND */
$primary: #1E22AA; 
$secondary: #FF9800; 

$primary-dark: darken($primary, 20%);

/* COLORS */
$white: #ffffff;
$black: #000000;

$dark-1: #222222;
$dark-2: #333333;
$dark-3: #666666;
$dark-4: #999999;
$dark-5: #cccccc;

$light-1: #fafafa;
$light-2: #f5f5f5;
$light-3: #e5e5e5;
$light-4: #dddddd;

$border: #DCDCDC;

$ko: #DB1212;
$ok: #6AC84C;

$alert-ok: #155724;
$alert-ko: #721c24;

$alert-ok-light: lighten($alert-ok, 60%);
$alert-ok-light-2: lighten($alert-ok, 50%);

$alert-ko-light: lighten($alert-ko, 60%);
$alert-ko-light-2: lighten($alert-ko, 50%);

$inverse: #ffffff;

/* SHADOWS */
$shadow-card: 0px 0px rem(3px) rgba(0, 0, 0, 0.15);

/* INTEGRACIONES */
$bg-integ:(
	"ep-google-analytics": rgba(244, 194, 23, 0.9),
	"ep-facebook": rgba(59, 89, 152, 0.9),
	"ep-twitter": rgba(49, 156, 235, 0.9),
	"ep-instagram": rgba(172, 22, 125, 0.9),
	"ep-hubspot": rgba(250, 122, 89, 0.9),
	"ep-campaign-monitor": rgba(120, 86, 255, 0.9),
	"ep-salesforce": rgba(46, 154, 217, 0.9),
	"ep-selligent": rgba(55, 184, 251, 0.9),
	"ep-windows": rgba(244, 166, 12, 0.9),
	"ep-wordpress": rgba(3, 115, 169, 0.9),
	"ep-mailchimp": rgba(255, 224, 27, 0.9),
	"ep-excel": rgba(32, 112, 67, 0.9),
	"ep-slack": rgba(72, 20, 73, 0.9),
	"ep-intercom": rgba(48, 108, 243, 0.9),
	"ep-zendesk-sell": rgba(6, 52, 59, 0.9),
	"ep-aweber": rgba(35, 111, 184, 0.9),
	"ep-dropbox": rgba(1, 97, 254, 0.9),
	"ep-active-campaign": rgba(43, 93, 223, 0.9),
	"ep-xeerpa": rgba(90, 188, 189, 0.9),
	"ep-webhooks": rgba(199, 59, 99, 0.9),
	"knk-ip": rgba(67, 103, 174, 0.9),
	"ep-autologin": rgba(14, 31, 73, 0.9),
	"ep-gigya": rgba(34, 92, 167, 0.9)
);


/* PLANS */
$plan-basic: #3C75DB;
$plan-basic-pro: #143885;
$plan-premium: #F4CD47;
$plan-white-label: #000000;
$plan-corporate: #CB1C27;

$class-plans: basic, basic-pro, premium, white-label, corporate;
$clr-plans: 
	$plan-basic, 
	$plan-basic-pro, 
	$plan-premium, 
	$plan-white-label, 
	$plan-corporate;

/* APPS / PRODUCTES */
$app-sweepstakes: #3CC9B0;
$app-sweepstakes-rg: #3CC9B0;
$app-sweepstakes-ig: #DA3074;
$app-sweepstakes-fb: #3A5896;
$app-sweepstakes-tw: #54ACED;
$app-sweepstakes-mr: #000000;
$app-sweepstakes-lt: #9E9A2D;
$app-sweepstakes-ev: #4A4276;

$class-sweepstakes: rg, ig, fb, tw, mr, lt, ev;
$clr-sweepstakes: 
	$app-sweepstakes-rg, 
	$app-sweepstakes-ig, 
	$app-sweepstakes-fb, 
	$app-sweepstakes-tw, 
	$app-sweepstakes-mr, 
	$app-sweepstakes-lt, 
	$app-sweepstakes-ev;

$app-contest: rgb(250, 165, 5), rgb(115, 75, 0);
$app-game: rgb(65, 80, 185), rgb(30, 40, 90);
$app-quiz: rgb(170, 30, 105), rgb(95, 15, 60);
$app-coupon: rgb(80, 175, 40), rgb(45, 105, 25);
$app-multi: rgb(245, 110, 110), rgb(225, 55, 55);

$class-apps: sweepstakes, contest, game, quiz, coupon, multi;
$clr-apps: 
	$app-sweepstakes, 
	nth($app-contest, 1), 
	nth($app-game, 1), 
	nth($app-quiz, 1), 
	nth($app-coupon, 1),
	nth($app-multi, 1);
$clr-sub-apps:  
	$app-contest, 
	$app-game, 
	$app-quiz, 
	$app-coupon,
	$app-multi;

// IMP! canviar valor de la variable si s'afegeix o s'elemina un sub-producte 
$contest-items-length: 9;
$game-items-length: 8;
$quiz-items-length: 5;
$coupon-items-length: 7;
$multi-items-length: 5;

$app-items-length: 
	$contest-items-length, 
	$game-items-length, 
	$quiz-items-length, 
	$coupon-items-length, 
	$multi-items-length;