/* FONTS */
$font-title: 'Montserrat', sans-serif;
$font-base: 'Nunito Sans', sans-serif;
$font-icons: 'knk-icons';
$font-brands: 'ep-icons';

/* FONTS WEIGHT */

// Nunito & Montserrat weight
// 200 > Extra-light
// 300 > Light
// 400 > Regular
// 500 > Medium
// 600 > Semi-bold
// 700 > Bold
// 800 > Extra-bold
// 900 > Black

$w-200: 200;
$w-300: 300;
$w-400: 400;
$w-500: 500;
$w-600: 600;
$w-700: 700;
$w-800: 800;
$w-900: 900;

/* LAYOUT */
$container-desktop: rem(1180px);
$container-wide: rem(1320px);
$container-narrow: rem(1120px);
$p-container: rem(20px);
$p-container-desktop: rem(50px);
$p-container-widescreen: rem(50px);

/* RADIUS */
$radius: rem(6px);
$radius-min: rem(3px);
$radius-pill: rem(50px);
$radius-circle: 100%;

/* HEIGHTS */
$h-btn: rem(50px);
$h-btn-s: rem(40px);
$h-btn-xs: rem(30px);
$h-control: rem(40px);
$h-top-header: rem(50px);
$h-header-phone: rem(65px);
$h-header-desk: rem(80px);

/* WIDTHS */
$w-logo: rem(162px);
$w-team: rem(280px);
$w-team-s: rem(200px);

/* ESPAIS */
$spacer: rem(16px);
$spacer-col: rem(10px);
$spacer-col-l: rem(24px);
$spacer-col-xl: rem(48px);
$spacer-col-2xl: rem(60px);
$spacer-col-3xl: rem(72px);
$spacer-section-s: rem(45px);
$spacer-section-m: rem(75px);
$spacer-section-l: rem(90px);
$spacer-ol: rem(30px);
$spacer-ul: rem(25px);
$spacer-ul-s: rem(20px);

/* SELECTRIC */
$selectric-secondary-color: #bbb !default; // Color used in button
$selectric-bg-color: #f8f8f8 !default; // Background color
$selectric-btn-bg-color: #f8f8f8 !default; // Button background color
$selectric-spacing: rem(10px) !default; // Label left padding
$selectric-border-width: rem(1px) !default; // Outer border width
$selectric-font-size: rem(15px) !default; // Font size

/* PATH */
$path-img: '../img/';

/* Z-INDEX */
$z-deep: -1;
$z-background: 1;
$z-foreground: $z-background + 1;
$z-content: 10;
$z-header: 999;
$z-nav: 1000;

/* TRANSITIONS */
$transition-btn: all 0.2s ease-in-out;
$transition-hover: all 0.4s ease-in-out;
$transition-header: all 0.4s ease-out;
