.item-app {
	justify-content: flex-start;
	align-items: center;
	transition: $transition-btn;
	@include media ('>=phone') {
		flex-direction: column;
		text-align: center;
	}
	.circle {
		flex-shrink: 0;
 		@include media ('<phone') {
 			margin-right: rem(15px);
 		}
 		@include media ('>=phone') {
 			margin-bottom: rem(5px);
 		}
	}
	// .txt {}
	&:hover {
		transition: $transition-btn;
	}
}