.item-banner {
	gap: rem(30px);
	@include media ('<tablet') {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: rem(520px);
		margin: auto;
	}
	.item-info,
	.item-pic {
		@include media ('>=tablet') {
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: 0;
		}
	}
	.item-pic {
		margin-right: 0;
	}
}