.item {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;

	.item-pic {
		margin-right: rem(15px);
		@include media ('>=tablet') {
			margin-right: rem(20px);
		}
	}
	.item-info {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: flex-start;
	}

	&.item-column {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		.item-pic {
			margin: rem(0 0 30px 0);
			@include media ('<tablet') {
				margin-bottom: rem(20px);
			}
		}
		.item-info {
			align-items: center;
		}
	}

	&.item-centered {
		@include media ('<tablet') {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			.item-pic {
				margin: rem(0 0 15px 0);
			}
			.item-info {
				align-items: center;
			}
			.slash-lst,
    		.btn-row  {
    			justify-content: center;
    		}
		}
	}

	&.item-reverse {
		@include media ('>=tablet') {
			flex-direction: row-reverse;
		}
	}

}


.item-lite {
	.item-pic {
		flex-shrink: 0;
	}
	.item-info {
		flex-grow: 1;
	}
}


.item-base {
	align-items: center;
	.item-info {
		@include media ('>=tablet') {
			max-width: rem(380px);
			margin-left: rem(40px);
		}
		@include media ('>=desktop') {
			max-width: rem(460px);
			margin-left: rem(80px);
		}
		@include media ('>=widescreen') {
			max-width: rem(540px);
		}
	}
	&:not(.item-reverse) {
		.item-pic {
			margin-right: 0;
			margin-left: rem(15px);
			@include media ('>=tablet') {
				margin-left: rem(20px);
			}
		}
	}
	&.item-reverse {
		.item-info {
			@include media ('>=tablet') {
				margin-left: 0;
				margin-right: rem(40px);
			}
			@include media ('>=desktop') {
				margin-left: 0;
				margin-left: rem(80px);
			}
		}
	}
	&.item-centered {
		.item-pic {
			margin-right: 0;
			margin-left: 0;
		}
	}
	.btn {
		min-width: rem(230px);
	}
}
