.item-heading {
	align-items: flex-start;
	.item-info {
		flex-grow: 1;
		max-width: initial;
		padding: $spacer-section-s 0;
		@include media('>=tablet-xs') {
			padding: $spacer-section-m 0;
		}
		@include media ('>=tablet') {
			max-width: 50%;
		}
	}
	.item-pic {
		flex-shrink: 0;
		@include media ('<tablet') {
			display: none;
		}
	}
}