.item-prod {
	@include media ('>=desktop') {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: flex-start;
		.item {
			margin-right: rem(30px);
		}
	}
	.prod-pic {
		flex-shrink: 0;
		max-width: 50%;
		margin-top: rem(50px);
		@include media ('<desktop') {
			@include visually-hidden;
		}
	}
}