.item-tri {
	.item-pic {
        display: flex;
        justify-content: center;
        align-items: center;
		position: relative;
        .img {
        	display: block;
            img {
            	max-width: 100%;
            }
        }
        &::before{
            content: '';
            position: absolute;
            border-radius: $radius-circle;
        }
	}

	/* ITEM TRIANGLE PETIT */
    &.item-lite {
		.item-pic {
	        width: rem(220px);
	        height: rem(135px);
	        .img {
	            max-width: rem(60px);
	            margin-top: rem(20px);
	            img {
	            	max-width: 100%;
	            }
	        }
	        &::before{
	            left: rem(40px);
	            bottom: 0;
	            width: rem(32px);
	            height: rem(32px);
	        }
		}
	    &:nth-child(even) {
			.item-pic {
				&::before{
					top: rem(20px);
					bottom: inherit;
				}
	        }
			.tri {
				transform: scaleX(-1);
				@include media('>=tablet','<desktop') {
					transform: none;
				}
			}
	    }
		@include media('>=tablet','<desktop') {
			&:nth-child(4n-1),
			&:nth-child(4n-2) {
				.tri {
					transform: scaleX(-1);
				}
			}
		}
    }

	/* ITEM TRIANGLE GRAN */
    &.item-base {
    	.item-pic {
    		flex-grow: 1;
    		@include media ('>=tablet') {
    			max-width: calc(50% - 40px);
    		}
			.img {
				margin-right: rem(25px);
			}
    	}
		.tri {
			background-position: center;
			background-size: contain;
			max-width: calc(90% - 25px);
			margin-left: rem(25px);
		}
    	&.item-reverse {
			.item-pic {
				.img {
					margin: rem(0 0 0 25px);
				}
			}
    		.tri {
    			transform: scaleX(-1);
    			margin: rem(0 25px 0 0);
    		}
    	}
    }

}