.card-apps {
    border-radius: $radius-min;
    .card-header {
        border-radius: $radius-min $radius-min 0 0;
        padding: rem(10px);
        @include media ('<phone') {
            padding-left: rem(25px);
            padding-right: rem(25px);
        }
        .tggl-lnk {
            @include media ('>=phone') {
                justify-content: center;
            }
            .title {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: center;
                @include media ('>=phone') {
                    flex-direction: column;
                    text-align: center;
                }
                .ico {
                    font-size: rem(32px);
                    margin: rem(0 10px 0 0);
                    @include media ('>=phone') {
                       display: block;
                       margin: 0;
                    }
                }
                .txt {
                    @include media ('>=phone') {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        display: block;
                        margin-top: rem(-5px);
                    }
                }
            }
        }
    }
    // .card-body {}
}
