.card {
    position: relative;
    padding: rem(12px);
    border-radius: $radius-min;
    transition: $transition-hover;

    .card-header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        .card-pic {
            grid-row: 1;
            grid-column: 1;
            align-self: center;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            img {
                display: block;
                min-width: 100%;
            }
        }
        .card-action {
            grid-row: 1;
            grid-column: 1;
            min-height: 100%;
            align-self: center;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            padding: rem(16px);
            opacity: .0;
            transition: $transition-hover;
            .text {
                text-align: center;
            }
        }

        .category {
            display: flex;
            flex-flow: row wrap;
            justify-self: flex-start;
            align-items: center;
            width: 100%;
            padding: rem(6px);
            .ico {
                font-size: rem(14px);
                margin-right: rem(4px);
            }
        }

        .card-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: rem(3px);
            &:after {
                content: '';
                display: flex;
                width: rem(20px);
                justify-content: center;
                border-bottom-width: rem(1px);
                border-bottom-style: solid;
                margin-top: rem(16px);
            }
            .ico {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: $radius;
                font-size: rem(38px);
            }
        }
    }

    &:hover {
        .card-header {
            .card-action {
                opacity: 1;
            }
        }
    }

    &.card-spaced {
        padding: rem(20px);
    }
}

.card-ribbon {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    width: rem(75px);
    height: rem(75px);
    text-align: right;
    span {
        position: absolute;
        top: rem(19px); 
        left: rem(-21px);
        display: block;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        width: rem(100px);
    }
}
