.card-features {
    display: flex;
    flex-direction: column;
    padding: rem(25px);
    @include media('<tablet') {
        &:not(:last-child) {
			margin-bottom: rem(25px);
		}
    }
    .card-header {
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        align-items: center;

        .card-title {
            text-align: right;
            .title {
                font-family: $font-title;
                font-size: rem(20px);
                text-transform: none;
                @include media('>=tablet') {
                    font-size: rem(24px);
                }
            }
        }
    }
    .card-extras {
        flex-grow: 1;
    }
    .icons-lst {
        li {
            margin-bottom: rem(8px);
        }
    }
}
