.card-plan {
    border-radius: $radius-min;
    padding: rem(25px 20px);
    .link {
        text-decoration: underline;
    }
    .card-content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .card-header {
        padding-bottom: rem(10px);
        border-bottom-width: rem(1px);
        border-bottom-style: solid;
        @include media('<tablet-xs') {
            border: 0;
            padding: 0;
        }
        .link {
            @include media('<tablet-xs') {
                @include visually-hidden;
            }
        }
        .btn {
            width: 100%;
        }
        .list {
            padding: rem(0 5px);
            > li {
                margin-bottom: $spacer;
            }
        }
    }
    .card-body {
        flex-grow: 1;
        @include media('<tablet-xs') {
            @include visually-hidden;
        }
        
    }
    .title {
        text-transform: uppercase;
        font-weight: $w-900;
        margin: rem(0 -10px);
        strong {
            display: block;
            font-weight: $w-900;
            white-space: nowrap;
        }
    }
    .price {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: rem(120px);
    }
    .card-footer {
        @include media('<tablet-xs') {
            border-top-width: rem(1px);
            border-top-style: solid;
            padding-top: rem(16px);
        }
    }
}