@font-face {
    font-family:"knk-icons";
    src:url("https://v7b3r3q5.stackpathcdn.com/fonts/knk_icons/knk-icons-roman.eot?v=1.1010");
    src:url("https://v7b3r3q5.stackpathcdn.com/fonts/knk_icons/knk-icons-roman.eot?#iefix&v=1.1010") format("embedded-opentype"),
        url("https://v7b3r3q5.stackpathcdn.com/fonts/knk_icons/knk-icons-roman.woff?v=1.1010") format("woff"),
        url("https://v7b3r3q5.stackpathcdn.com/fonts/knk_icons/knk-icons-roman.ttf?v=1.1010") format("truetype"),
        url("https://v7b3r3q5.stackpathcdn.com/fonts/knk_icons/knk-icons-roman.svg#knk-icons?v=1.1010") format("svg");
    font-weight:400;
    font-style:normal;
    font-display:auto;
}

@font-face {
    font-family:"knk-icons";
    src:url("https://v7b3r3q5.stackpathcdn.com/fonts/knk_icons/knk-icons-light.eot?v=1.1010");
    src:url("https://v7b3r3q5.stackpathcdn.com/fonts/knk_icons/knk-icons-light.eot?#iefix&v=1.1010") format("embedded-opentype"),
        url("https://v7b3r3q5.stackpathcdn.com/fonts/knk_icons/knk-icons-light.woff?v=1.1010") format("woff"),
        url("https://v7b3r3q5.stackpathcdn.com/fonts/knk_icons/knk-icons-light.ttf?v=1.1010") format("truetype"),
        url("https://v7b3r3q5.stackpathcdn.com/fonts/knk_icons/knk-icons-light.svg#knk-icons?v=1.1010") format("svg");
    font-weight:100;
    font-style:normal;
    font-display:auto;
}

@font-face {
    font-family:"ep-icons";
    src:url("https://v7b3r3q5.stackpathcdn.com/fonts/ep_icons/ep-icons.eot?v=1.1010");
    src:url("https://v7b3r3q5.stackpathcdn.com/fonts/ep_icons/ep-icons.eot?#iefix&v=1.1010") format("embedded-opentype"),
        url("https://v7b3r3q5.stackpathcdn.com/fonts/ep_icons/ep-icons.woff?v=1.1010") format("woff"),
        url("https://v7b3r3q5.stackpathcdn.com/fonts/ep_icons/ep-icons.ttf?v=1.1010") format("truetype"),
        url("https://v7b3r3q5.stackpathcdn.com/fonts/ep_icons/ep-icons.svg#ep-icons?v=1.1010") format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:auto;
}
