/********** KNK ICONS **********/
@charset "UTF-8";

[class^="knk-"]::before,
[class*=" knk-"]::before,
.checkbox label::before,
.switcher label::before,
.radio label::before,
.select::after,
.react_field .select .this_select::before,
.date .is_select::after,
.time_field .is_select::after,
.knk-new-item::after,
.knk-go-next-arrow::after,
.knk-top-item::after,
.new_feature a::after,
.top_feature a::after,
.knk-alert-ui::after,
.knk-help-ui::after,
.knk-column-double::after,
.knk-zoom-in::after,
.sorter_target::before,
.sortable_handle span::before,
.sortable_handle::before,
.sortable_handle::after,
.is_mandatory_icon > span::before,
.lined_buttons .flex_button:not(.vote_box) a:not(.vote_button)::after,
.m-calendar .toolbar .prev-month::before,
.m-calendar .toolbar .next-month::before,
.gui_breadcrumbs .contents > *::after,
.gui_error_field::before,
.gui_labels_selector .removable_ribbon:hover::after,
.gui_labels_selector .removable_ribbon.visible_close::after,
.gui_validation_field_ok::before,
.gui_validation_field_ko::before,
.gui_template_offerings li::before,
.template_minimal .gui_paginate .prev a::before,
.template_minimal .gui_paginate .prev .disabled::before,
.template_minimal .gui_paginate .next a::before,
.template_minimal .gui_paginate .next .disabled::before,
.amcharts-export-menu .export-main > a::before,
.amcharts-export-menu .export-drawing > a::before,
.amcharts-export-menu .export-delayed-capturing > a::before,
.markItUp .markItUpButton a::before { font-family:"knk-icons" !important; font-style:normal !important; font-weight:400; font-variant:normal !important; text-transform:none !important; speak:none; line-height:1em; font-size:19pt; margin-right:5px; width:1em; height:0.8em; float:left; position:relative; top:0; }

.knk-level-easy::before,
.knk-level-medium::before,
.knk-level-hard::before { top:1px !important; font-size:2em !important; left:3px !important; }

[class^="knk-web-"],
[class*=" knk-web-"] { width:60px; height:60px; border-radius:30px !important; color:#FFFFFF; }
[class^="knk-web-"]::before,
[class*=" knk-web-"]::before { font-size:45pt; margin-right:0; top:0 !important;/* top:3px !important;*/ left:0 !important; width:60px !important; height:60px !important; padding-top:3px; color:inherit; }

.knk-column-double::after,
.knk-zoom-in::after,
.knk-new-item::after,
.knk-top-item::after { margin-left:5px; margin-right:0; float:right; }
.new_feature,
.top_feature { position:relative; }
.new_feature a::after,
.top_feature a::after { top:7px; right:0; position:absolute; }
a.knk-new-item, a.knk-top-item { display:inline-block; }
label .knk-new-item::after, label .knk-top-item::after, label .knk-new-feature::before { height:10px; top:-2px; }

.squaredButton [data-icon]::before,
.squaredButton [class^="knk-"]::before,
.squaredButton [class*=" knk-"]::before { top:2px; }

.boldIcon::before,
.boldIcon::after { font-weight:700 !important; }

.is_rtl .knk-grave::before,
.is_rtl .knk-facebook::before,
.is_rtl .knk-logo-facebook::before,
.is_rtl .knk-logo-facebook-live::before,
.is_rtl .knk-facebook-live::before,
.is_rtl .knk-linked-in::before,
.is_rtl .knk-logo-linked-in::before,
.is_rtl .knk-like::before,
.is_rtl .knk-reaction-like::before,
.is_rtl .knk-reaction-love::before,
.is_rtl .knk-reaction-haha::before,
.is_rtl .knk-reaction-wow::before,
.is_rtl .knk-reaction-sad::before,
.is_rtl .knk-reaction-angry::before,
.is_rtl .knk-reaction-yay::before,
.is_rtl .knk-logo-twitter::before,
.is_rtl .knk-twitter::before,
.is_rtl .knk-retweet::before,
.is_rtl .knk-logo-youtube::before,
.is_rtl .knk-youtube::before,
.is_rtl .knk-video::before,
.is_rtl .knk-logo-vimeo::before,
.is_rtl .knk-vimeo::before,
.is_rtl .knk-logo-instagram::before,
.is_rtl .knk-instagram::before,
.is_rtl .knk-instagram-contest::before,
.is_rtl .knk-logo-pinterest::before,
.is_rtl .knk-pinterest::before,
.is_rtl .knk-logo-google-plus::before,
.is_rtl .knk-google-plus::before,
.is_rtl .knk-logo-google-analytics::before,
.is_rtl .knk-google-analytics::before,
.is_rtl .knk-logo-telegram::before,
.is_rtl .knk-telegram::before,
.is_rtl .knk-logo-whatsapp::before,
.is_rtl .knk-whatsapp::before,
.is_rtl .knk-logo-line::before,
.is_rtl .knk-line::before,
.is_rtl .knk-logo-chrome::before,
.is_rtl .knk-chrome::before,
.is_rtl .knk-logo-firefox::before,
.is_rtl .knk-firefox::before,
.is_rtl .knk-logo-safari::before,
.is_rtl .knk-safari::before,
.is_rtl .knk-logo-opera::before,
.is_rtl .knk-opera::before,
.is_rtl .knk-logo-msie::before,
.is_rtl .knk-msie::before,
.is_rtl .knk-logo-dropbox::before,
.is_rtl .knk-dropbox::before,
.is_rtl .knk-logo-mailchimp::before,
.is_rtl .knk-mailchimp::before,
.is_rtl .knk-logo-webhooks::before,
.is_rtl .knk-webhooks::before,
.is_rtl .knk-logo-zapier::before,
.is_rtl .knk-zapier::before,
.is_rtl .knk-easypromos-logo::before,
.is_rtl .knk-logo-selligent::before,
.is_rtl .knk-selligent::before,
.is_rtl .knk-am::before,
.is_rtl .knk-pm::before,
.is_rtl .knk-tag-h1::before,
.is_rtl .knk-tag-h2::before,
.is_rtl .knk-tag-h3::before,
.is_rtl .knk-tag-paragraph::before,
.is_rtl .knk-tag-bold::before,
.is_rtl .knk-tag-italic::before,
.is_rtl .knk-tag-bulleted-list::before,
.is_rtl .knk-tag-numbered-list::before,
.is_rtl .knk-number-0::before,
.is_rtl .knk-number-1::before,
.is_rtl .knk-number-2::before,
.is_rtl .knk-number-3::before,
.is_rtl .knk-number-4::before,
.is_rtl .knk-number-5::before,
.is_rtl .knk-number-6::before,
.is_rtl .knk-number-7::before,
.is_rtl .knk-number-8::before,
.is_rtl .knk-number-9::before,
.is_rtl .knk-csv-file::before,
.is_rtl .knk-generic-file::before,
.is_rtl .knk-page::before,
.is_rtl .knk-new::before,
.is_rtl .knk-top::before,
.is_rtl .knk-go-next-arrow::after,
.is_rtl .knk-new-item::after,
.is_rtl .knk-top-item::after,
.is_rtl .knk-new-feature::before,
.is_rtl .new_feature a::after,
.is_rtl .top_feature a::after,
.is_rtl .knk-certificate::before,
.is_rtl .knk-weight::before,
.is_rtl .knk-calendar::before,
.is_rtl .knk-time::before,
.is_rtl .knk-summ::before,
.is_rtl .knk-autoplay-on::before,
.is_rtl .knk-autoplay-off::before,
.is_rtl .knk-hd-off::before,
.is_rtl .knk-hd-on::before,
.is_rtl .knk-database::before,
.is_rtl .knk-database-utf8::before {
	direction:ltr !important; -moz-transform:scaleX(1) !important; -o-transform:scaleX(1) !important; -webkit-transform:scaleX(1) !important; transform:scaleX(1) !important; float:right !important; margin-left:0 !important; margin-right:5px !important;
}
.is_rtl .knk-counter-number-0::before,
.is_rtl .knk-counter-number-1::before,
.is_rtl .knk-counter-number-2::before,
.is_rtl .knk-counter-number-3::before,
.is_rtl .knk-counter-number-4::before,
.is_rtl .knk-counter-number-5::before,
.is_rtl .knk-counter-number-6::before,
.is_rtl .knk-counter-number-7::before,
.is_rtl .knk-counter-number-8::before,
.is_rtl .knk-counter-number-9::before,
.is_rtl .knk-counter-number-dot::before,
.is_rtl .knk-counter-number-colon::before {
		direction:ltr !important; -moz-transform:scaleX(1) !important; -o-transform:scaleX(1) !important; -webkit-transform:scaleX(1) !important; transform:scaleX(1) !important; float:right !important; margin-left:0 !important;
}
.knk-go-next-arrow::after { top:-1px; }




/** CHARSET INI **/
/** INI SECTION Summer Iconset **/
/** END SECTION Summer Iconset **/


/** INI SECTION Sports Iconset **/
/** END SECTION Sports Iconset **/


/** INI SECTION Valentines Iconset **/
/** END SECTION Valentines Iconset **/


/** INI SECTION Disguises Iconset **/
/** END SECTION Disguises Iconset **/


/** INI SECTION Halloween Iconset **/
/** END SECTION Halloween Iconset **/


/** INI SECTION Xmas Iconset **/
/** END SECTION Xmas Iconset **/


/** INI SECTION Generic icons **/
.switcher label:not(.group_label)::before { content:"\55"; }
.gui_template_offerings li::before { content:"\2713"; }
.markItUp .markItUpButton10 a::before { content:"\78"; }
.knk-alert-ui::after,
.gui_error_field::before { content:"\21"; }
.knk-help-ui::after { content:"\bf"; }
.knk-new-item::after,
.new_feature a::after { content:"\cf"; }
.knk-top-item::after,
.top_feature a::after { content:"\e09c"; }
.gui_validation_field_ko::before,
.gui_labels_selector .removable_ribbon:hover::after,
.gui_labels_selector .removable_ribbon.visible_close::after { content:"\2715"; }
/** END SECTION Generic icons **/


/** INI SECTION Tools and Human occupations **/
.markItUp .markItUpButton7 a::before { content:"\6c"; }
/** END SECTION Tools and Human occupations **/


/** INI SECTION Form fields **/
.is_mandatory_icon > span::before { content:"\e03e"; }
/** END SECTION Form fields **/


/** INI SECTION Logos / Social **/
/** END SECTION Logos / Social **/


/** INI SECTION Arrows **/
.ui-sortable .promoContainer:last-child .sorter_target::before,
.gui_sortable_list_item:last-child .sorter_target::before,
.gui_sortable_table_item:last-child .sorter_target::before { content:"\2191"; }
.ui-sortable .promoContainer:first-child .sorter_target::before,
.promos_in_group .promoContainer:nth-child(2) .sorter_target::before,
.gui_sortable_list_item:first-child .sorter_target::before,
.gui_sortable_table_item:first-child .sorter_target::before { content:"\2193"; }
.sortable_handle::before { content:"\2190"; }
.sortable_handle::after { content:"\2192"; }
.template_minimal .gui_paginate .prev a::before,
.template_minimal .gui_paginate .prev .disabled::before,
.m-calendar .toolbar .prev-month::before { content:"\2665"; }
.gui_breadcrumbs .contents > *::after,
.lined_buttons .flex_button:not(.vote_box) a:not(.vote_button)::after,
.template_minimal .gui_paginate .next a::before,
.template_minimal .gui_paginate .next .disabled::before,
.m-calendar .toolbar .next-month::before { content:"\2666"; }
.knk-go-next-arrow::after { content:"\2666"; }
.ui-draggable .promoContainer .sorter_target::before { content:"\21db"; }
.sortable_handle span::before { content:"\2026"; }
.ui-sortable .promoContainer .sorter_target::before,
.gui_sortable_list_item .sorter_target::before,
.gui_sortable_table_item .sorter_target::before { content:"\2195"; }
.amcharts-export-menu .export-main > a::before,
.amcharts-export-menu .export-drawing > a::before,
.amcharts-export-menu .export-delayed-capturing > a::before { content:"\44"; }
/** END SECTION Arrows **/


/** INI SECTION HTML elements **/
.select::after,
.date .is_select::after,
.time_field .is_select::after,
.react_field .select .this_select::before { content:"\106"; }
.checkbox:not(.fake_checkbox) label:not(.group_label)::before { content:"\108"; }
.checkbox input[type=checkbox]:checked+label::before { content:"\10a"; }
.radio label:not(.group_label)::before { content:"\10c"; }
.radio input[type=radio]:checked+label::before { content:"\187"; }
.markItUp .markItUpButton1 a::before { content:"\1e08"; }
.markItUp .markItUpButton2 a::before { content:"\23b"; }
.markItUp .markItUpButton3 a::before { content:"\1e0a"; }
.markItUp .markItUpButton4 a::before { content:"\18a"; }
.markItUp .markItUpButton5 a::before { content:"\1e0c"; }
.markItUp .markItUpButton6 a::before { content:"\1e0e"; }
.markItUp .markItUpButton8 a::before { content:"\1e10"; }
.markItUp .markItUpButton9 a::before { content:"\1e12"; }
/** END SECTION HTML elements **/


/** INI SECTION Miscellanea **/
.knk-column-double::after { content:"\3a"; }
/** END SECTION Miscellanea **/
/** CHARSET END **/


/** HIDDEN CHARS TO PUBLIC CHARSET INI **/
.knk-watch-this::before { -ms-transform:rotate(90deg); -webkit-transform:rotate(90deg); transform:rotate(90deg); }
/** HIDDEN CHARS TO PUBLIC CHARSET END **/





/********** EP ICONS **********/

@charset "UTF-8";

/*[class^="ep-"]::before,
[class*=" ep-"]::before { font-family:"ep-icons" !important; font-style:normal !important; font-weight:normal !important; font-variant:normal !important; text-transform:none !important; speak:none; line-height:1; font-size:19pt; position:relative; top:0; }*/
[class^="ep-"]::before,
[class*=" ep-"]::before,
.netButton::before,
.is_addon a::after,
.is_addon_this::after,
.react_field .search .this_input::after,
.gui_quiz_public_stats .question_block::after,
.gui_instagram_gallery .gui_ig_gallery > .is_video::before,
.prettify_it .is_select::before,
.prettify_it .is_select::after,
.gui_status_view > * .status::before,
.gui_checked_list:not(.gui_custom_icons) > li:not(.not_listed)::before { font-family:"ep-icons" !important; font-style:normal !important; font-weight:normal !important; font-variant:normal !important; text-transform:none !important; speak:none; line-height:1em; font-size:19pt; margin-right:5px; width:25px; height:25px; float:left; position:relative; top:0; }

.is_addon { position:relative; }
.is_addon a::after { font-size:15pt; top:9px; right:0; position:absolute; }
.is_addon_this::after { font-size:15pt; top:3px; left:5px; float:none; }
.ep-add-circle::before { -ms-transform:rotate(45deg) !important; -webkit-transform:rotate(45deg) !important; transform:rotate(45deg) !important; }

/** CHARSET INI **/
/** INI SECTION Generic icons **/
.react_field .search .this_input::after { content:"\46"; }
.is_mail .netButton::before { content:"\4f"; }
.gui_instagram_gallery .gui_ig_gallery > .is_video::before { content:"\70"; }
.is_addon a::after,
.is_addon_this::after { content:"\53"; }
.gui_status_view > .is_ok .status::before { content:"\56"; }
.gui_status_view > .is_ko .status::before { content:"\58"; }
.gui_checked_list:not(.gui_custom_icons) > li:not(.not_listed)::before { content:"\59"; }
.prettify_it .is_select::before { content:"\33" !important; }
.prettify_it .is_select::after { content:"\32" !important; }
.gui_quiz_public_stats .question_block::after { content:"\24"; }
/** END SECTION Generic icons **/


/** INI SECTION Logos / Social **/
.is_vimeo .netButton::before { content:"\45"; }
/*.is_facebook .netButton::before { content:"\66"; }*/
.is_facebook .netButton::before { content:"\27"; }
.is_instagram .netButton::before { content:"\62"; }
.is_telegram .netButton::before { content:"\38"; }
.is_pinterest .netButton::before { content:"\37"; }
.is_whatsapp .netButton::before { content:"\39"; }
.is_line .netButton::before { content:"\22";}
.is_youtube .netButton::before { content:"\76"; }
.is_linkedin .netButton::before { content:"\26"; }
/** END SECTION Logos / Social **/
/** CHARSET END **/

/*
	SHITTY ICONS IN ALL-SVG CODE (since we can't add more icones to fontastic.me).
	– the fill color MUST be added in the code (so no possibility to change the icon color at all)
	– the color HEX code "#" char must be URL-encoded to "%23" in order to make the color applyable by the browser
	– :(
.ep-twitch::before {
	content:url("data:image/svg+xml; utf8, <svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 25 25' style='enable-background:new 0 0 25 25;' xml:space='preserve'><rect fill='%234367AE' x='16.17' y='7.36' width='1' height='4'/><rect fill='%234367AE' x='12.83' y='7.36' width='1' height='4'/><path fill='%234367AE' d='M7.83,3.5L4.5,6.71v11.57h4v3.21l3.33-3.21h2.67l6-5.79v-9H7.83z M19.5,12.08l-2.44,2.35h-3.23L11.17,17v-2.57H8.5V4.5h11V12.08z'/></svg>");
}
*/

/** HIDDEN CHARS TO PUBLIC CHARSET INI **/
.is_instagram .netButton::before { content:"\62"; }
.is_googleplus .netButton::before { content:"\47"; }
.ep-star::before,
.ep-star-empty::before,
.ep-networks::before { top:-2px !important; }
.ep-addon::before,
.is_addon a::after,
.is_addon_this::after { color:#EBC200 !important; }
/** HIDDEN CHARS TO PUBLIC CHARSET END **/