/* MARGINS */

// m-1: 4px
// m-2: 8px
// m-3: 16px
// m-4: 24px
// m-5: 48px

/* margin top */
.mt-1 {
    margin-top: calc(#{$spacer} * .25);
}
.mt-2 {
    margin-top: calc(#{$spacer} * .5);
}
.mt-3 {
    margin-top: $spacer;
}
.mt-4 {
    margin-top: calc(#{$spacer} * 1.5);
}
.mt-5 {
    margin-top: calc(#{$spacer} * 3);
}

/* margin bottom */
.mb-1 {
    margin-bottom: calc(#{$spacer} * .25);
}
.mb-2 {
    margin-bottom: calc(#{$spacer} * .5);
}
.mb-3 {
    margin-bottom: $spacer;
}
.mb-4{
    margin-bottom: calc(#{$spacer} * 1.5);
}
.mb-5 {
    margin-bottom: calc(#{$spacer} * 3);
}

/* margin horitzon */
.mx-1 {
    margin-right: calc(#{$spacer} * .25);
    margin-left: calc(#{$spacer} * .25);
}
.mx-2 {
    margin-right: calc(#{$spacer} * .5);
    margin-left: calc(#{$spacer} * .5);
}
.mx-3 {
    margin-right: $spacer;
    margin-left: $spacer;
}
.mx-4 {
    margin-right: calc(#{$spacer} * 1.5);
    margin-left: calc(#{$spacer} * 1.5);
}
.mx-5 {
    margin-right: calc(#{$spacer} * 3);
    margin-left: calc(#{$spacer} * 3);
}

/* margin vertical */
.my-1 {
    margin-top: calc(#{$spacer} * .25);
    margin-bottom: calc(#{$spacer} * .25);
}
.my-2 {
    margin-top: calc(#{$spacer} * .5);
    margin-bottom: calc(#{$spacer} * .5);
}
.my-3 {
    margin-top: $spacer;
    margin-bottom: $spacer;
}
.my-4 {
    margin-top: calc(#{$spacer} * 1.5);
    margin-bottom: calc(#{$spacer} * 1.5);
}
.my-5 {
    margin-top: calc(#{$spacer} * 3);
    margin-bottom: calc(#{$spacer} * 3);
}


/* LINK AREA */
.wrap-link {
    position: relative;
    a {
        &:after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            pointer-events: auto;
            content: "";
            background-color: transparent;
            transition: $transition-btn;
        }
    }
}

/* OCULTAR MÒBIL */
.hide-phone {
    @include media('<tablet-xs') {
        @include visually-hidden;
    }    
}