/* GENERAL */

body {
    color: $dark-3;
}

a {
    color: $secondary;
}

/* TEXT GENÈRIC */
.text-block {
	h1, 
    h2, 
    h4, 
    h5, 
    h6, 
    blockquote {
		color: $primary;
	}

	h3 {
		color: $dark-1;	
	}
    
 	ol, ul, p {
 		color: $dark-3;
 		a {
			color: $primary;
		}
	}
}
.block-intro {
    h2 {
        color: $dark-1; 
    }
}


/* BUTTONS */
.btn {
    color: $inverse;
    &.btn-outline {
        background-color: transparent;
        border-color: $primary;
        color: $primary;

        .clr-inverse & {
            color: $inverse;
            border-color: $inverse;
            &:hover,
            &:focus {
                background-color: $white;
                color: $primary;
                opacity: 1;
            }
        }
    }
}

.btn-link {
    color: inherit;
    &:before {
        background-color: currentColor;
    }
}

.btn-tag {
    color: $dark-1; 
    &:hover,
    &:focus,
    &.is-active {
        background-color: $secondary;
    }
    .ico {
        background-color: $white;
        color: $dark-1;
    }
}


/* COLORS GENERICS */
.clr-inverse {
    color: $inverse;
    * {
        color: $inverse;
    }
}

.clr-primary {
    color: $primary;
}

.clr-secondary {
    color: $secondary;
}

.clr-dark {
    color: $dark-1;
}

.clr-default {
    color: $dark-3;
}

.clr-gray {
    color: $dark-2;
}

.bg-primary {
    background-color: $primary;
}

.bg-secondary {
    background-color: $secondary;
}

.bg-light {
    background-color: $light-2;
}

.bg-white {
    background-color: $white;
}



/* ELEMENTS */
.circle {
    .ico {
        color: $inverse;
    }
}

.ico {
    &.circle {
        color: $inverse;
    }
}

.cite {
    &:before,
    &:after {
        color: $secondary;
    }
}

.slash-lst {
    > li {
        border-color: currentColor;
    }
}

 
/* HEADER */
#header {
    background-color: $primary;

    .menu {
        > li {
            a {
                color: $inverse;
                &:hover,
                &:active {
                    color: inherit;
                    @include media('>=desktop') {
                        color: $secondary;
                    }
                }
                &.is-active {
                    @include media('>=desktop') {
                        color: $secondary;
                    }
                }
            }
        }
    }
    .menu-login {
        .btn-outline {
            color: $inverse;
            border-color: $inverse;
            &:hover {
                color: $primary;
                background-color: $inverse;
            }
        }
    }
    .tggl-nav {
        color: $inverse;
        background-color: transparent;
    }
}


/* BREADCRUMB */
.bread-row {
    border-bottom-color: $border;
}


/* LIST */

.border-lst {
    > li {
        border-color: $border;
        a {
            color: inherit;
        }
    }
}

.icons-lst {
    .txt {
        color: inherit;
    }
}

.bg-circles {
    .circles-top,
    .circles-bottom {
        &:before {
            background-color: $primary;
        }
        &:after {
            background-color: $secondary;
        }
    }
}

.altern-btns {
    > li {
        .btn {
            background-color: $primary;
        }
        &:nth-child(even) {
            .btn {
                background-color: $secondary;
            }
        }

        @include media('>=phone-lg','<tablet') {
            &:nth-child(even) {
                .btn {
                    background-color: $primary;
                }
            }
            &:nth-child(4n-1),
            &:nth-child(4n-2) {
                .btn {
                    background-color: $secondary;
                }
            }
        }        
    }
}

.lst-block ul,
.circle-lst {
	> li {
        &:before {
            background-color: $primary;
        }
	}	
}

.number-lst {
    > li {
        &:before {
            color: $dark-3;
        }
    }
    &.collapse-lst {
        > li {
            &::after {
                background-color: $light-4;
            }
        }
    }
}


/* FORMS */

.has-error {
    .check-label {
        color: $ko;
        &:after,
        &:before {
            color: $ko;
        }
        .link{
            color: $ko;
        }
    }
}

.form-group {
    &.has-error {
        .msg-invalid {
            color: $ko;
        }
    }
}

.form-control {
    border-color: $dark-5;
    color: $dark-3;
    background-color: $white;
	&:focus {
        border-color: $primary;
	}
    
    .has-error & {
        color: $ko;
        border-color: currentColor;
    }
}

.check {
	.check-label {
		&:before,
        &:after {
            color: $dark-3;
		}
		&:after {
            color: $dark-4;
        }
	}
    .check-input {
		&:focus + .check-label {
			&:after {
                color: $primary;
			}
		}
	}
}

/* ALERTS */

.msg-ok,
.msg-ko {
    color: $alert-ok;
    border-color: $alert-ok-light-2;
    background-color: $alert-ok-light;
}
.msg-ko {
    color: $alert-ko;
    border-color: $alert-ko-light-2;
    background-color: $alert-ko-light;
}

.msg-alert {
    background-color: #FDF1DF;
}


/* INTEGRATIONS */

.card-icon {
    @each $integ, $color in $bg-integ {
        .#{$integ} {
            background-color: map-get($bg-integ, $integ);
            color: $inverse;
        }
    }

    .ep-windows,
    .ep-mailchimp,
    .ep-google-analytics {
        color: $black;
    }
}


/* CARDS */

.card {
    background-color: $white;
    box-shadow: $shadow-card;
    .card-header {
        .card-action {
            background-color: rgba($black, .8);
        }
        .card-icon {
            &:after {
                border-bottom-color: $dark-2;
            }
        }
    }

}

.card-hover {
    &:hover {
        background-color: $light-3;
    }
}

.card-plan {
    background-color: $white;
    box-shadow: $shadow-card;
    color: $dark-1;
    .card-header {
        border-bottom-color: $dark-5;
    }
    .price-y {
        color: $ok;
    }
    .link {
        color: $primary;
    }
    .btn {
        color: $inverse;
    }
}

.card-ribbon {
    span {
        background-color: $light-4;
    }
}

.card-features {
    background-color: $white;
}

.card-apps {
    background-color: $white;
    .card-header {
        .tggl-lnk {
            color: $inverse;
        }
    }
    .card-body {
        .item {
            .txt {
                color: $dark-3;
            }
            &:hover {
                .txt {
                    color: $inverse;
                }
            }
        }
    }
}

.breadcrumb {
    li {
        &:not(:last-child) {
            color: $primary;
        } 
        a {
            color: inherit;
        }       
    }
}


/* ITEMS */
.item-tri {
    /* triangle petit */
    &.item-lite {
        .item-pic {
            &::before {
                background-color: $primary;
            }
        }
        &:nth-child(even) {
            .item-pic {
                &::before {
                    background-color: $secondary;
                    @include media('>=tablet','<desktop') {
                        background-color: $primary;
                    }
                }
            }
        }
        @include media('>=tablet','<desktop') {
            &:nth-child(4n-1),
            &:nth-child(4n-2) {
                .item-pic {
                    &::before {
                        background-color: $secondary;
                    }
                }
            }
        }
    }
}


/* TABLE */

.plan-table {
    background-color: $white;
    .split {
        border-right-color: $light-4;
    }
    .row-category {
        border-bottom-color: $light-4;
        .title {
            &::after {
                border-bottom-color: currentColor;
            }
        }
    }
    .row-item {
        border-bottom-color: $light-4;
        &:hover {
            background-color: $light-2;
        }
    }
    .knk-on {
        color: $ok;
    }
    .knk-off {
        color: $ko;
    }
}


.legal-lst {
    > li {
        &:not(:last-child) {
            &::after {
                color: $secondary;
            }
        }
    }
}

/* SOCIAL LIST */
.social-lst {
    .circle {
        background-color: $white;
        .ico {
            color: $dark-1;
        }
        &:hover {
            .ico {
                color: $white;
            }
        }
    }
    .social-fb {
        .circle {
            &:hover {
                background-color: $app-sweepstakes-fb;
            }
        }
    }
    .social-tw {
        .circle {
            &:hover {
                background-color: $app-sweepstakes-tw;
            }
        }
    }
    .social-ig {
        .circle {
            &:hover {
                background-color: $app-sweepstakes-ig;
            }
        }
    }
    .social-yt {
        .circle {
            &:hover {
                background-color: #FF0000;
            }
        }
    }
    .social-tt {
        .circle {
            &:hover {
                background-color: #25F4EE;
            }
        }
    }
    .social-ln {
        .circle {
            &:hover {
                background-color: #0077b5;
            }
        }
    }
}

/* FRANJA */
.hr-split {
    background-color: $light-3;
}

/* COLLAPSE LIST */
.collapse-lst {
    border-color: $light-3;
    > li {
        &:not(:last-child) {
			border-color: $light-3;
		}
    }
}


/* FOOTER */
#footer {
    background-color: $dark-1;
    a {
        color: $inverse;
        &:hover {
            color: $secondary;
        }
    }
    .collapse-lst {
        border-color: $secondary;
        > li {
            border-color: rgba($inverse, .25);
        }
        .tggl-lnk {
            color: $secondary;
        }
    }

    .slash-lst {
        color: $inverse;
    }
}

/* WIDGET TRUSTPILOT */
.trustpilot-widget {
    background-color: $white;
}
