// COLORS APPS
@for $i from 1 through length($class-apps) {

    // MAIN APP COLORS
    .is-app-#{nth($class-apps, $i)} {
        .has-app-bg {
            background-color: nth($clr-apps, $i);
        }
        .has-app-clr {
            color: nth($clr-apps, $i);
        }
    }

    // SUB SORTEOS COLORS
    @if $i == 1 {
        @for $j from 1 through length($class-sweepstakes) {
            .is-app-#{nth($class-apps, $i)}-#{nth($class-sweepstakes, $j)} {
                .has-app-bg {
                    background-color: nth($clr-sweepstakes, $j);
                }
                .item-app {
                    &:hover {
                        background-color: nth($clr-sweepstakes, $j);
                    }
                }
            }
        }
    }

    // SUB APPS COLORS (not SORTEOS)
    @if $i > 1 {   
        @for $j from 1 through nth($app-items-length, $i - 1) {
            $gradient-value: (1 - $j * (1 / nth($app-items-length, $i - 1))) * 100;

            .is-app-#{nth($class-apps, $i)}-#{$j} {
                .has-app-bg {
                    background-color: mix(nth(nth($clr-sub-apps, $i - 1), 1), 
                                          nth(nth($clr-sub-apps, $i - 1), 2), 
                                          $gradient-value);
                }
                .item-app {
                    &:hover {
                        background-color: mix(nth(nth($clr-sub-apps, $i - 1), 1), 
                                              nth(nth($clr-sub-apps, $i - 1), 2), 
                                              $gradient-value);
                    }
                }
            }

        }
    }
    
}


// COLORS PLANS
@for $i from 1 through length($class-plans) {

    .is-plan-#{nth($class-plans, $i)} {

        .btn {
            background-color: nth($clr-plans, $i);
        }

        .icons-lst {
            .ico {
                color: nth($clr-plans, $i);
            }
        }

        .card-title {
            .title {
                color: nth($clr-plans, $i);
            }
        }

        .hr-plan {
            background-color: nth($clr-plans, $i);
        }

    }

}


