#footer {
	padding: rem(30px 0);
	
	@include media('>=phone') {
		padding: rem(60px 0);
	}
	.footer-lst {
		border-bottom-width: rem(1px);
		border-bottom-style: solid;
		padding-bottom: rem(50px);
		grid-gap: 0;
		@include media('>=tablet') {
			grid-gap: $spacer-col-xl;
		}
		> li {
			&:last-child {
				border: none;
			}
		}
		.collapse-content {
			padding-top: 0;
		}
		.list {
			> li {
				margin-top: rem(16px);
			}			
		}
		.link {
			&:hover {
				text-decoration: none;
			}
		}
	}
	
	.social-lst {
		grid-gap: $spacer;
		display: inline-grid;
		grid-template-columns: repeat(3, 1fr);
		.circle {
            transition: $transition-btn;
            .ico {
                transition: $transition-btn;
            }
        }
	}

	.bottom-wrap {
		padding: $spacer 0;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
		text-transform: uppercase;
		@include media('>=desktop') {
			justify-content: flex-end;
		}
	}
	.legal-wrap {
		flex-flow: column wrap;
		justify-content: flex-start;
		row-gap: $spacer;
		align-items: inherit;
		@include media('>=desktop') {
			flex-direction: row;
			justify-content: space-between;
		}
		.slash-lst {
			> li {
				@include media('<desktop') {
					margin: rem(5px 0);
				}
			}
		}
	}
}

.certified-lst {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	@include media('>=phone') {
		flex-flow: row wrap;
		align-items: center;
	}
	> li {
		display: inline-flex;
		align-items: center;
		&:first-child {
			margin-bottom: rem(30px);
		}
		@include media('>=phone') {
			&:first-child {
				margin-right: rem(50px);
				margin-bottom: 0;
			}
		}
	}
	img {
		margin-right: rem(10px);
	}
}