/* LISTS COLUMNS */
[class*="grid-col"] {
    display: grid;
    grid-gap: $spacer-col-l;
}

.grid-col-2 {
    @include media('>=tablet') {
        grid-template-columns: repeat(2, 1fr);
    }
    /* 2 columnes separades */
    &.outlying-cols {
        > * {
            &:nth-child(even) {
                @include media('>=tablet') {
                    justify-self: end;
                }
            }
        }
    }
}

.grid-col-3 {
    @include media('>=phone-lg') {
        grid-template-columns: repeat(2, 1fr);
    }
    @include media('>=tablet') {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid-col-4 {
    @include media('>=phone') {
        grid-template-columns: repeat(2, 1fr);
    }
    @include media('>=tablet') {
        grid-template-columns: repeat(3, 1fr);
    }
    @include media('>=desktop') {
        grid-template-columns: repeat(4, 1fr);
    }
}

.grid-col-5 {
    @include media('>=phone') {
        grid-template-columns: repeat(2, 1fr);
    }
    @include media('>=tablet') {
        grid-template-columns: repeat(3, 1fr);
    }
    @include media('>=desktop') {
        grid-template-columns: repeat(4, 1fr);
    }
    @include media('>=desktop-lg') {
        grid-template-columns: repeat(5, 1fr);
    }
}

.grid-gap-xl {
    grid-gap: $spacer-col-l $spacer-col-2xl;
    @include media('>=widescreen') {
        grid-gap: $spacer-col-xl $spacer-col-3xl;
    }
}

/* LIST ICONES TRIANGLES */
.grid-card-tri {
    grid-gap: rem(40px) rem(60px);
    @include media('<tablet') {
        grid-template-columns: 1fr;
    }
    @include media('>=tablet','<desktop') {
        grid-gap: rem(80px) rem(80px);
        grid-template-columns: repeat(2, 1fr);
    }
    @include media('>=desktop') {
        grid-gap: rem(90px) rem(120px);
    }
    @include media('>=desktop-lg') {
        grid-gap: rem(90px) rem(140px);
    }
    .item-tri {
        max-width: rem(280px);
        margin: auto;        
    }
}
