/* HEADER */
#header {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	z-index: $z-header;
	@include media('<desktop') {
		position: fixed;
	}
	
	/* LAYOUT */
	.header-grid {
		position: relative;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: $h-header-phone;
		.show-menu & {
			transition: $transition-btn;
			grid-template-rows: $h-header-phone calc(100vh - #{$h-header-phone});
		}
		@include media('>=desktop') {
			grid-template-rows: $h-header-desk;
		}
		.logo {
			justify-self: start;
			align-self: center;
			grid-column: 1 / 2;
			@include media('>=desktop') {
				grid-column: 1 / 2;
			}
		}
		.tggl-nav {
			justify-self: end;
			align-self: center;
			grid-column: 2 / 3;
			@include media('>=desktop') {
				display: none;
			}
		}
		.nav {
			grid-column: 1 / 3;
			@include media('>=desktop') {
				justify-self: end;
				grid-column: 2 / 3;
			}
		}

	}

	.nav {
		display: flex;
		flex-flow: column wrap;
		@include media('>=desktop') {
			flex-flow: row wrap;
			align-items: center;
			justify-content: flex-end;
		}
		@include media('<desktop') {
			.hide-menu & {
				@include visually-hidden;
			}
		}
		
	}

	.private {
		.btn {
			height: rem(30px);
			@include media('>=desktop') {
				height: rem(35px);
			}
		}
	}

	.menu {
		height: auto;
		max-height: calc(100vh - #{$h-header-phone});
		overflow-y: auto;
		margin-top: rem(30px);

		@include media('>=desktop') {
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-end;
			align-items: center;
			column-gap: rem(20px);
			margin-right: rem(20px);
			margin-top: 0;
		}
		@include media('>=widescreen') {
			column-gap: rem(30px);
			margin-right: rem(30px);
		}
		> li {
			font-family: $font-title;
			font-size: rem(20px);
			font-weight: $w-700;
			margin-bottom: rem(40px);
			@include media('>=desktop') {
				font-size: rem(15px);
				margin-bottom: 0;
			}
			@include media('>=widescreen') {
				font-size: rem(18px);
			}
		}
	}

	.menu-login {
		grid-gap: $spacer-col-l;
        grid-template-columns: repeat(2, 1fr);
		@include media('>=phone-lg') {
			display: flex;
			flex-direction: row;
		}
		@include media ('<desktop') {
			margin-bottom: rem(30px);
		}
		.btn {
			font-family: $font-title;
			font-size: rem(15px);
			padding: rem(0 16px);
			width: 100%;
			@include media ('>=desktop','<desktop-lg') {
				font-size: rem(12px);
			}
		}
		.btn-outline {
			&:hover {
				opacity: 1;
			}
		}
	}

	.tggl-nav {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border: 0;
		font-size: rem(36px);
		.knk-close {
			font-weight: bold;
		}
	}

	.btn-skip {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: rem(10px);
		z-index: 1;
		@include media('>=desktop') {
			top: rem(15px);
			left: calc(#{$w-logo} + 40px);
			transform: translateX(0);
		}
	}

	/* SCROLL */
	&.scroll-down {
		@include media('>=desktop') {
			transition: $transition-header;
			position: fixed;
			top: calc(-#{$h-top-header} + -#{$h-header-desk});
		}
	}
	&.scroll-up {
		@include media('>=desktop') {
			transition: $transition-header;
			position: fixed;
			top: 0;
		}
	}
}


/* BREADCRUMB */
.bread-row {
    padding: rem(15px 0);
    border-bottom-width: rem(1px);
    border-bottom-style: solid;
}

.breadcrumb {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    li {
        display: inline;
        white-space: nowrap;
        &:not(:first-child) {
            margin-left: rem(8px);
            &:before {
                padding-right: rem(4px);
                content: '> ';
            }
        }
        &:not(:last-child) {
        	a {
        		&:hover {
        			text-decoration: underline;
        		}
        	}
        }
    }
}

@media reader, speech, aural {
    .breadcrumb {
        li {
            &:before {
                display: none;
            }
        }
    }
}
