body {
	@include media('<desktop') {
		padding-top: $h-header-phone;
	}
	&.show-menu {
		overflow: hidden;
	}
}

/* CONTAINER */
.container {
	padding: 0 $p-container;
	margin: 0 auto;
	width: 100%;
	@include media('>=tablet-xs') {
		padding: 0 $p-container;
	}
	@include media('>=desktop-lg') {
		max-width: $container-desktop;
	}
	@include media('>=widescreen') {
		max-width: $container-wide;
	}

	/* CONTAINER-NARROW */
	&.container-narrow {
		@include media('>=desktop') {
			max-width: $container-narrow;
			padding-left: $grid-gutter-width;
			padding-right: $grid-gutter-width;
		}
	}
}


/* ROW DOS COLUMNES 50/50 */
.split-row {
	@include media('>=tablet') {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: stretch;
	}
	.col {
		@include media('>=tablet') {
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: 0;
			max-width: calc(50% - 40px);
		}
		@include media('<tablet') {
			& + .col {
				margin-top: rem(45px);
			}
		}
		.pic {
			max-width: 100%;
		}
	}
	&.extreme-row {
		.col {
			@include media('>=tablet') {
				flex: 0 1 auto;
			}
		}
	}
	
}

/* ROW DOS COLUMNES CONTENT/ASIDE */
.row-page {
	display: grid;
	@include media('>=tablet') {
		grid-template-columns: auto rem(320px);
		grid-gap: rem(100px);
	}
	.col-content {
		padding: rem(0 5px);
		@include media('>=tablet') {
			padding: 0;
		}
	}
	.col-aside {
		@include media('<tablet') {
			margin-top: rem(60px);
		}
	}
	&.row-inverse {
		@include media('<tablet') {
			.col-aside {
				grid-row: 1;
				margin-top: 0;
			}
			.col-content {
				margin-top: rem(60px);
				padding-bottom: rem(80px);
			}
		}
	}
}
