.banner {
    padding: $spacer-section-s 0;
    @include media('>=tablet-xs') {
        padding: $spacer-section-l 0;
    }
    &:not(.banner-img) {
        display: flex;
    }
    &.banner-lite {
        align-items: center;
        padding: 0;
        min-height: rem(195px);
    }
    &.centered {
        .btn-row {
            justify-content: center;
            .btn {
                @include media('>=tablet-xs') {
                    min-width: 280px;               
                }
            }
        }
    }

    &.banner-img {
        padding: 0;
        [class*="banner-"] {
            max-width: 100%;
            overflow: hidden;
        }
        .banner-pic {
            position: relative;
            .img {
                display: block;
                width: 100%;
                height: rem(320px);
                object-fit: cover;
                @include media('>=tablet-xs') {
                    height: rem(360px);
                }
            }
            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $black;
                opacity: .6;
            }
        }
        .banner-content {
            align-self: center;
            z-index: $z-background;
        }
    }
}       