.collapse-lst {
	width: 100%;
	@include media('<phone') {
		grid-gap: 0;
	}
	border-bottom: 0;

	> li {
		position: relative;
        width: 100%;
		padding: $spacer 0;
		&:not(:last-child) {
			border-bottom-width: rem(1px);
			border-bottom-style: solid;
			@include media('>=phone') {
				border-bottom: 0;
			}
		}
		@include media('>=phone') {
			border-bottom: 0;
		}
	}
	.tggl-link {
		padding: rem(15px 20px 15px 25px);
	}
	.title {
		margin: 0;
		a {
			text-decoration: none;
			color: inherit;
			.ico {
				font-weight: bold;
			}
		}
	}
	.collapse-content {
		padding-top: rem(20px);
	}

}

.unfolded-desk {
	@include media('>=phone') {
		> li {
			padding: 0;
		}
		.tggl-lnk {
			pointer-events: none;
			.ico {
				display: none;
			}
		}
		.collapse {
			display: block;
		}
	}
}
