/* APPS */
.apps-lst {
    @include media ('>=phone') {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        gap: rem(15px);
    }
    @include media ('>=desktop') {
        flex-wrap: nowrap;
    }
    > li {
        @include media ('>=phone', '<tablet-xs') {
            min-width: calc(50% - (15px / 2));
        }
        @include media ('>=tablet-xs', '<desktop') {
            min-width: calc(33.3% - ((15px * 2) / 2));
        }
        @include media ('>=desktop') {
            flex-grow: 1;
            flex-shrink: 0;
            flex-basis: 0;
        }
        @include media ('<phone') {
            margin-bottom: rem(15px);
        }
    }
}

.app-items-lst {
    .item-app {
        padding: rem(15px 30px);
        @include media ('>=phone') {
            padding: rem(15px 10px);
        }
    }
}