/* BLOCK ASIDE */
.aside-block {
    @include media('<tablet') {
        margin-left: -$p-container;
        margin-right: -$p-container;
        width: calc(100% + (#{$p-container} * 2));
    }
    .bg-aside {
        padding: rem(40px);
        @include media('>=tablet') {
            padding: rem(30px);
        }
    }
}