.brand-block {
    .wrapper {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: auto;        
    }

    .download {
        text-align: center;
        position: relative;
        max-width: rem(220px);
    }

    .brand-lst {
        margin-top: rem(50px);
        grid-gap: rem(50px);
        @include media('>=tablet') {
            margin-top: rem(70px);
            grid-gap: rem(70px);
        }
    }
    
    .circle {
        width: rem(200px);
        height: rem(200px);
    }
}