/* CATALEG */
.catalog-block {
    .catalog-pic {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: -$spacer-section-m;
        @include media('<tablet') {
            display: none;
        }
        .pic {
            display: block;
            max-width: rem(320px);
            @include media('>=desktop') {
                max-width: rem(390px);
            }
            @include media('>=desktop-lg') {
                max-width: rem(455px);
            }
            img, 
            .img {
                display: block;
            }
        }
    }
    // .catalog-content {}
    .catalog-lst {
        grid-row-gap: rem(40px);
        @include media('<tablet') {
            max-width: rem(380px);
            margin-left: auto;
            margin-right: auto;
        }
        .item {
            max-width: rem(380px);
            @include media('>=tablet','<desktop-lg') {
                max-width: rem(320px);
                .circle {
                    width: rem(56px);
                    height: rem(56px);
                    .ico {
                        font-size: rem(44px);
                    }
                }
            }
        }
    }
}