/* BLOCK LOGOS */
.clients-block {
    .logos-lst {
        margin-top: rem(30px);
        @include media('>=tablet') {
            margin-top: rem(40px);
        }
        > li {
            @include media('<desktop') {
                max-width: rem(120px);
            }
            @include media('<tablet') {
                max-width: rem(100px);
                max-height: rem(50px);
                margin: rem(10px);
            }
            @include media('<phone') {
                max-width: rem(90px);
            }
            .img {
                @include media('<tablet') {
                    max-height: rem(50px);
                }
            }
        }
    }
}
