/* BLOCKS CONTINGUT */
.section-block {
    padding: $spacer-section-s 0;
    @include media('>=tablet-xs') {
        padding: $spacer-section-m 0;
    }
    .title-block {
        margin-bottom: $spacer-section-s;
        @include media('>=tablet-xs') {
            margin-bottom: $spacer-section-m;
        }
    }
    .text-block {
        &:first-of-type {
            padding-top: 0;
            margin-top: 0;
        }
        blockquote {
            margin: rem(30px);
            @include media('>=tablet') {
                margin: rem(50px 0);
            }	
        }
    }

    &.marginless-row {
        @include media('<tablet') {
            padding-bottom: 0;
            .row-page {
                margin-bottom: 0;
            }            
        }
    }

    &.section-circles {
        .title-block {
            margin-bottom: 0;
        }
        .bg-circles {
            padding: rem(45px 0);
        }
        
    }
}

.title-block {
    display: flex;
    flex-direction: column;
    .title {
        margin-bottom: calc(#{$spacer} * 1.5);
    }
}

.text-block {
    margin-top: rem(50px);
}

.content-block {
    margin: rem(30px 0 0 0);
    @include media('>=tablet') {
        margin: rem(60px 0 0 0);
    }
}


/* SUPERPOSICIO CAPES */
.overlay-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    .layer-block {
        grid-row: 1;
        grid-column: 1;
    }
}

/* GENÈRIC */
.align-block {
    display: flex;
    flex-direction: row-reverse;
}


/* ROW BOTONS */
.btn-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: rem(20px);
    @include media('>=tablet-xs') {
        flex-direction: row;
        gap: rem(40px);
    }
    .btn {
        @include media('<tablet-xs') {
            width: 100%;
        }
    }
}


/* FILES ITEMS */
.items-block {
    .item {
        &:not(:first-child) {
            margin: rem(70px 0 0 0);
            @include media('>=tablet') {
                margin: rem(90px 0 0 0);
            }
        } 
    }
}


/* TEXT INTRODUCCIÓ */
.intro-block {
    margin-bottom: rem(40px);
    @include media('>=desktop') {
        margin-bottom: rem(60px);
    }
    .tit-group {
        margin-bottom: rem(15px);
        @include media('>=tablet-xs') {
            margin-bottom: rem(30px);
        }
        @include media('>=desktop') {
            margin-bottom: rem(45px);
        }
    }
    .intro-text {
        max-width: rem(800px);
    }
}