/* FORM FILTRE */
.filter-block {
    .form {
        margin: rem(48px 0 24px 0);
    }
    .inline-lst {
        margin-bottom: rem(10px);
        > li {
            margin-right: rem(10px);
            margin-bottom: rem(10px);
        } 
    }
    &.filter-centered {
        .form {
            margin-left: auto;
            margin-right: auto;
        }
        .list {
            justify-content: center;
        }
    }

}