
.form {
	.split-row {
		.col {
			@include media('<tablet') {
				& + .col {
					margin-top: 0;
				}
			}
		}
	}
	.btn-row {
		margin-top: rem(30px);
		@include media('>=tablet-xs') {
			margin-top: rem(45px);
		}
		.btn {
			width: 100%;
			@include media('>=tablet-xs') {
				max-width: rem(150px);
			}
		}
	}
}


/* FORM UNA COLUMNA */
.form-1 {
	@include media('>=desktop') {
		max-width: rem(500px);
	}
	@include media('>=desktop-lg') {
		max-width: rem(650px);
	}
}

/* FORM DOS COLUMNES */
.form-2 {
    .split-row {
        @include media('>=tablet', '<desktop') {
            display: block;
        }
        .col {
            @include media('>=tablet') {
                max-width: 100%;
            }
            @include media('>=desktop') {
                max-width: calc(50% - 20px);
            }
        }
    }
}

/* FORM TRES COLUMNES */
.form-3 {
    .split-row {
        .col {
            @include media('>=tablet') {
                max-width: calc(33.33% - 15px);
            }
            @include media('>=desktop') {
                max-width: calc(33.33% - 20px);
            }
        }
    }
}
