/* MEMBERS */
.lst-members {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    > li {
        margin: rem(0 -16px);
    }
}

.team {
    .member {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        &:hover {
            .subtitle {
                opacity: 1;
            }
            .member-img {
                &:hover {
                    z-index: $z-content;
                    img {
                        transform: translate(-33.33%, -33.33%);
                    }
                }
            }
        }
    }
    
    .member-img {
        position: relative;
        display: block;
        overflow: hidden;
        /* standar size */
        width: $w-team;
        height: $w-team;
        img {
            display: block;
            max-width: calc(#{$w-team} * 3);
            @include media('handheld') {
                transform: translate(-33.33%, -33.33%);
            }
        }

        .up-left {
            transform: translate(0, 0);
        }
        .up {
            transform: translate(-33.33%, 0);
        }
        .up-right {
            transform: translate(-66.66%, 0);
        }
        .right {
            transform: translate(-66.66%, -33.33%);
        }
        .down-right {
            transform: translate(-66.66%, -66.66%);
        }
        .down {
            transform: translate(-33.33%, -66.66%);
        }
        .down-left {
            transform: translate(0, -66.66%);
        }
        .left {
            transform: translate(0, -33.33%);
        }
    }

    .member-info {
        text-transform: uppercase;
        font-family: $font-title;
        .subtitle {
            opacity: 0;
            transition: $transition-hover;
        }
    }

    /* small size */
    &.team-s {
        .member-img {
            @include media('>=tablet') {
                width: $w-team-s;
                height: $w-team-s;
                img {
                    max-width: calc(#{$w-team-s} * 3);
                }
            }
        }
        .member-info {
            .title {
                font-size: rem(18px);
                @include media('>=tablet') {
                    font-size: rem(12px);
                }
                span {
                    display: block;
                }
            }
        }
    }
}
