.plan-table {
    width: 100%;
    .split {
        border-right-width: rem(5px);
        border-right-style: solid;
    }
    thead {
        th {
            text-align: center;
            text-transform: uppercase;
            padding: rem(24px 0);
            font-size: rem(12px);
            vertical-align: bottom;
            @include media('>=desktop') {
                font-size: rem(16px);
            }
            @include media('>=desktop-lg') {
                font-size: rem(20px);
            }
            strong {
                display: block;            
            }
        }
        .hr-plan {
            width: rem(60px);
            @include media('>=desktop-lg') {
                width: rem(120px);
            }
        }
    }
    .row-category {
        border-bottom-width: rem(1px);
        border-bottom-style: solid;
        th {
            padding: rem(24px 0 8px 0);
            text-align: left;
            position: relative;
            .ico {
                font-size: rem(32px);
            }
            .txt {
                line-height: 1;
            }
        }
        td {
            text-align: center;
            vertical-align: middle;
        }
        .link {
            text-decoration: underline;
        }
        .title {
            text-transform: uppercase;
            &::after {
                content: '';
                width: rem(100px);
                border-bottom-width: rem(4px);
                border-bottom-style: solid;
                position: absolute;
                bottom: rem(-2px);
                left: 0;
            }
        }
    }

    .row-item {
        border-bottom-width: rem(1px);
        border-bottom-style: dashed;
        text-align: center;
        transition: $transition-btn;
        th,
        td {
            vertical-align: middle;
        }
        th {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            padding: rem(10px 0 10px 10px);
            text-align: left;
            .title {
                margin-left: rem(5px);
            }
        }
        td {
            .ico {
                display: inline-block;
                font-size: rem(30px);
                padding-top: rem(5px);
            }
        }
    }
}

.table-wrap {
    padding: rem(0 16px 24px 16px);
    @include media('>=desktop') {
        padding-left: rem(24px);
        padding-right: rem(24px);
    }
    @include media('<tablet') {
        margin: 0 -$p-container;
    }
}