/* BUTTONS */
.btn {
	font-family: $font-base;
	font-size: rem(16px);
	text-align: center;
	font-weight: $w-700;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: rem(0 32px);
	border-radius: $radius-pill;
	line-height: 1.3;
	text-decoration: none;
	border: none;
	transition: $transition-btn;
	cursor: pointer;
	min-height: $h-btn-s;
	@include media('>=tablet-xs') {
		min-height: $h-btn;
	}

	&:hover {
		opacity: .8;
	}

	&.btn-outline {
		border-width: rem(2px);
		border-style: solid;
	}

	&.btn-s {
		min-height: $h-btn-s;
	}

}

.btn-link {	
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-weight: $w-400;
	text-decoration: none;
	padding: 0;
	height: auto;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: rem(1px);
		bottom: rem(-3px);
		left: 0;
		transform: scaleX(0);
		transition: $transition-btn;
	}
	&:hover {
		&:before {
			transform: scaleX(1);
		}
	}
	&.btn-disabled {
		pointer-events: none;
		opacity: .6;
	}
}

.btn-tag {
	justify-content: space-between;
	min-height: $h-btn-xs;
	padding: rem(0 12px);
	font-size: rem(14px);
	position: relative;
	&:hover,
	&:focus,
	&.is-active {
		opacity: 1;
	}
	&.has-ico {
		&:hover {
			opacity: .8;
		}
	}
	.close-tag {
		&:after {
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			width: 100%;
			height: 100%;
			content: '';
		}
	}
	.ico {
		border-radius: $radius-circle;
		font-size: rem(10px);
		padding: rem(2px);
		margin-left: rem(10px);
		font-weight: bold;
	}
}


/* LINK */
.link {
	transition: $transition-btn;
    text-decoration-style: solid;
    text-decoration-thickness: 0.25em;
    text-underline-position: under;
    text-underline-offset: 0.05em;
	&:hover {
		text-decoration: underline;
	}
	&.link-line {
		text-decoration: underline;
	}
}

/* TOGGLES i COLLAPSES */
[role="button"],
a, 
button {
	&.collapsed,
	&[aria-expanded="false"] {
		.is-close {
			display: block;
		}
		.is-open {
			display: none;
		}
	}
	&[aria-expanded="true"] {
		.is-close {
			display: none;
		}
		.is-open {
			display: block;
		}
	}
}

/* COLLAPSES */
.tggl-lnk {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    .ico {
        margin-left: rem(20px);
        font-size: rem(20px);
        font-weight: bold;
    }
}