/* FORM GROUP */
.form-group {
	margin-bottom: rem(30px);
    &.has-error {
        .msg-invalid {
            margin: rem(8px 0 0 16px);
        }
    }
}

/* LABEL */
.form-label {
    display: inline-block;
	margin-bottom: rem(8px);
}

/* INPUT */
.form-control {
    font-family: $font-base;
    font-size: rem(15px);
    display: block;
	width: 100%;
	border-radius: $radius-pill;
    border-width: rem(1px);
    border-style: solid;
    height: $h-control;
    padding: rem(0 16px);
    @include placeholder {
        font-weight: $w-300;
    }

    &.form-textarea {
        border-radius: $radius;
        min-height: rem(142px);
        padding: rem(12px);
    }

	&:focus {
		box-shadow: none;
		outline: 0;
	}

}

/* CHECKBOX */
.check {
	position: relative;
	margin-bottom: rem(16px);
	a {
		text-decoration: underline;
	}

	.check-label {
		font-size: rem(14px);
		display: block;
		padding-left: rem(32px);
		width: 100%;
        cursor: pointer;
        
		&:before,
        &:after {
			position: absolute;
			top: 0;
			left: 0;
			font-family: $font-icons;
            content: "\10a";
			font-size: rem(30px);
			line-height: .8;
			z-index: 2;
			opacity: 0;
		}
		&:after {
            content: "\108";
            opacity: 1;
            &:hover {
                cursor: pointer;
            }
        }
	}
	.check-input {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		opacity: 0;
		z-index: -1;
		&:checked + .check-label {
			&:before {
				opacity: 1;
                transition: $transition-btn;
			}
		}
	}
	
    &.has-error {
        .msg-invalid {
            margin: rem(8px 0 0 32px);
        }
    }

}