/* BRAND */
.logo {
    background-image: url('#{$path-img}logo-easypromos.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    display: block;
    width: $w-logo;
    height: rem(28px);
}

/* ICON */
.text-ico {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    .ico {
        margin-right: rem(5px);
    }
}


/* CERCLE (icones)*/
.circle {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: $radius-circle;
    flex-shrink: 0;
    // default size
    width: rem(27px);
    height: rem(27px);
    .ico {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: relative;
        font-size: rem(21px);
    }
    &.circle-s {
        width: rem(22px);
        height: rem(22px);
        .ico {
            font-size: rem(18px);
        }
    }
    &.circle-m {
        width: rem(54px);
        height: rem(54px);
        .ico {
            font-size: rem(42px);
        }
    }
    &.circle-l {
        width: rem(56px);
        height: rem(56px);
        .ico {
            font-size: rem(44px);
        }
        @include media('>=tablet-xs') {
            width: rem(63px);
            height: rem(63px);
            .ico {
                font-size: rem(52px);
            }
        }
    }
    &.circle-xl {
        width: rem(63px);
        height: rem(63px);
        .ico {
            font-size: rem(52px);
        }

        @include media('>=tablet-xs') {
            width: rem(70px);
            height: rem(70px);
            .ico {
                font-size: rem(60px);
            }
        }
    }

} 


/* TRIANGLE */
.tri {
    width: 100%;
    height: 100%;
    display: block;
    background-image: url('#{$path-img}triangle.svg');
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    z-index: $z-deep;
}


/* BG PATTERN */
.bg-dots {
    position: relative; 
    width: 100%;
    z-index: 0;
    &:before {
        content: '';
        background-image: url('#{$path-img}dots-pattern.svg');
        background-position: left;
        background-repeat: repeat-y;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.08;
        z-index: -1;
        @include media('<desktop-lg') {
            background-position: center;
        }
    }
    .container & {
        &:before {
            background-position: center;
        }
    }
}


/* DECO DOTS */
.bg-circles {
    position: relative;
    padding: rem(90px 0);

    .circles-top,
    .circles-bottom {
        position: absolute;
        width: rem(70px);
        height: rem(46px);
        left: 0;
        right: 0;
        margin: auto;
        @include media('>=tablet-xs') {
            width: rem(90px);
            height: rem(60px);
        }
        &:before,
        &:after {
            content: '';
            position: absolute;
            border-radius: $radius-circle;
        }
        &:before {
            top: 0;
            left: 0;
            width: rem(18px);
            height: rem(18px);
            @include media('>=tablet-xs') {
                width: rem(24px);
                height: rem(24px);
            }
        }
        &:after {
            top: rem(20px);
            right: 0;
            width: rem(30px);
            height: rem(30px);
            @include media('>=tablet-xs') {
                width: rem(40px);
                height: rem(40px);
            }
        }
    }

    .circles-top {
        top: 0;
        @include media('>=tablet-xs') {
            right: inherit;
        }

    }
    .circles-bottom {
        bottom: 0;
        @include media('>=tablet-xs') {
            left: inherit;
        }
        transform: rotate(180deg);
    }
}


/* MISSATGES */
.msg-ok,
.msg-ko {
    padding: rem(16px);
    border-radius: $radius;
    border-width: rem(1px);
    border-style: solid;
    margin-bottom: rem(16px);
    a {
        text-decoration: underline;
    }
}
.msg-alert {
    padding: rem(24px);
    border-radius: 0;
    border: 0;
    margin-top: rem(16px);
    @include media('>=tablet-xs') {
        padding: rem(32px);
    }
}

/* FRANJES */
.hr-split {
    display: block;
    margin: rem(50px) 0;
    width: 100%;
    height: rem(1px);
    border: 0;
    @include media('>=tablet-xs') {
        margin: rem(80px 0);
    }
}

.hr-plan {
    display: block;
    margin: rem(12px) auto 0 auto;
    width: rem(120px);
    height: rem(3px);
    border: 0;
    .card-plan & {
        width: 100%;
        @include media('>=tablet-xs') {
            max-width: rem(140px);
        }
    }
}

/* VIDEO */
.video-block {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: rem(60px) auto;
    @include media('>=tablet-xs') {
        max-width: rem(800px);
    }
    &::after {
        display: block;
        content: "";
        padding-top: 56.25%;
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* ALERT */