.list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.inline-lst {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}


/* BUTTONS */
.btns-lst {
    > li {
        margin-bottom: rem(10px);
    }
    .btn {
        display: flex;
    }
}


/* TAGS / LEGAL */
.slash-lst {
	display: flex;
	flex-flow: row wrap;
	> li {
		&:not(:last-child) {
			&::after {
				content: '|';
				margin: rem(0 8px);
			}
		}
	}
}


/* ICONS  */
.icons-lst {
    > li {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        &:not(:last-child) {
           margin-bottom: rem(10px); 
        }
        .ico {
            flex-shrink: 0;
            margin-right: rem(8px);
            margin-top: 0.25em;
        }
    }
}


/* BORDERS */
.border-lst {
    > li {
        padding: rem(6px 0);
        margin-bottom: 0;
        &:not(:last-child) {
            border-bottom-width: rem(1px);
            border-bottom-style: solid;
            margin-bottom: 0;
        }
    }
}


/* GENÈRIC */
.circle-lst {
    padding-left: $spacer-ul-s;
    @include media('>=tablet') {
        padding-left: $spacer-ul;
    }
	> li {
        margin-bottom: rem(5px);
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: rem(5px);
            left: -$spacer-ul-s;
            width: rem(10px);
            height: rem(10px);
            border-radius: $radius-circle;
            flex-shrink: 0;
            @include media('>=tablet') {
                top: rem(6px);
                left: -$spacer-ul;
                font-size: rem(14px);
            }
        }
	}	
}

.number-lst {
    counter-reset: lst-number;
    padding-left: $spacer-ol;
    > li {
        counter-increment: lst-number;
        margin-bottom: rem(15px);
        position: relative;
        &:before {
            content: counter(lst-number, decimal) ".-";
            @extend .txt-5;
            font-weight: $w-600;
            position: absolute;
            top: 0;
            left: -$spacer-ol;
        }
    }
    &.collapse-lst {
        > li {
            padding-top: 0;
            margin: rem(16px 0 0 0);
            &:not(:last-child) {
                border-bottom: 0;
            }
            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: calc(100% + #{$spacer-ol});
                margin-left: -$spacer-ol;
                height: rem(1px);
            }
            .title {
                margin-bottom: 0;
            }
            .collapse-content {
                padding: rem(20px 0);
            }
            
        }
    }
}

.lst-block {
    ul {
        @extend .circle-lst;
        @extend .txt-5;
        margin-top: rem(24px);
        margin-left: rem(5px);
        > li {
            margin-bottom: rem(16px);
        }
    }
    ol {
        margin-top: rem(24px);
        @extend .number-lst;
        @extend .txt-5;
    }
}


/* LLISTA LOGOS */
.logos-lst {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    > li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(150px);
        margin: rem(16px);

        a {
            &:focus {
                outline-offset: rem(-1px);
            }
        }
    }
}