.selectric-wrapper {
    position: relative;
    cursor: pointer;
}

.selectric-responsive {
    dth: 100%;
}

.selectric {
    border-width: rem(1px);
    border-style: solid; 
    border-color: #ccc;
    border-radius: $radius-pill;
	background-color: transparent;
    position: relative;
    overflow: hidden;
    background-color: $white;

    &:focus {
        border-color: $primary;
    }

    .label {
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        user-select: none;
        height: $h-control;
        padding: rem(0 16px);
        font-family: $font-base;
        font-size: $selectric-font-size;
        font-weight: $w-300;
        color: $dark-3;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center ;
        position: absolute;
        right: 0;
        top: 0;
        width: $h-control;
        height: $h-control;  

        background-color: transparent;
        color: $dark-2;
        text-align: center;

        &:after {
            content: "\106";
            font-family: $font-icons;
            font-size: rem(40px);
        }
    }
}

.selectric-focus .selectric {
    border-color: $primary;
}

.selectric-hover .selectric {
    border-color: darken($light-4, 10%);

    .button {
        color: darken($dark-2, 10%);

        &:after {
            border-top-color: darken($dark-2, 10%);
        }
    }
}

.selectric-open {
    z-index: 9999;

    .selectric {
        border-color: $primary;
    }

    .selectric-items {
        display: block;
    }
}

.selectric-disabled {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default;
    user-select: none;
}

.selectric-hide-select {
    position: relative;
    overflow: hidden;
    width: 0;
    height: 0;

    select {
        position: absolute;
        left: -100%;
    }

    &.selectric-is-native {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;

        select {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            border: none;
            z-index: 1;
            box-sizing: border-box;
            opacity: 0;
        }
    }
}

.selectric-input {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    margin: 0 !important;
    padding: 0 !important;
    width: rem(1px) !important;
    height: rem(1px) !important;
    outline: none !important;
    border: none !important;
    *font: 0/0 a !important;
    background: none !important;
}

.selectric-temp-show {
    position: absolute !important;
    visibility: hidden !important;
    display: block !important;
}

/* Items box */
.selectric-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: $white;
    border: rem(1px) solid $dark-5;
    z-index: -1;

    .selectric-scroll {
        height: 100%;
        overflow: auto;
    }

    .selectric-above & {
        top: auto;
        bottom: 100%;
    }

    ul,
    li {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: $selectric-font-size;
        line-height: 20px;
        min-height: 20px;
    }

    li {
        display: block;
        padding: rem(10px);
        color: #666;
        cursor: pointer;

        &.selected {
            background: #e0e0e0;
            color: #444;
        }

        &.highlighted {
            background: $light-3;
            color: $dark-2
        }

        &:hover {
            background: $light-3;
            color: $dark-2
        }
    }

    .disabled {
        filter: alpha(opacity=50);
        opacity: 0.5;
        cursor: default !important;
        background: none !important;
        color: #666 !important;
        user-select: none;
    }

    .selectric-group {
        .selectric-group-label {
            font-weight: bold;
            padding-left: rem(10px);
            cursor: default;
            user-select: none;
            background: none;
            color: #444;
        }

        &.disabled li {
            filter: alpha(opacity=100);
            opacity: 1;
        }

        li {
            padding-left: rem(25px);
        }
    }
}
