/* TITLES */

[class*="tit-"] {
    font-family: $font-title;
    line-height: 1.2;
	strong {
		font-weight: $w-800;
	}
}

.tit-1 {
	font-size: rem(30px);
    @include media('>=tablet') {
		font-size: rem(42px);
	}
    @include media('>=desktop-lg') {
		font-size: rem(46px);
	}
}

.tit-2 {
	font-size: rem(30px);
	text-transform: uppercase;
	.tit-split & {
		strong {
			font-family: $font-base;
			font-weight: $w-400;
		}
	}
	@include media('>=tablet') {
		font-size: rem(38px);
	}
}

.tit-3 {
	font-size: rem(28px);
    @include media('>=tablet') {
		font-size: rem(38px);
	}
}

.tit-4 {
	font-size: rem(20px);
    @include media('>=tablet') {
		font-size: rem(24px);
	}
}

.tit-5 {
	font-size: rem(22px);
}

.tit-6 {
	font-size: rem(18px);
}


/* TEXT */

.txt-1 {
	font-size: rem(24px);
    @include media('>=tablet') {
		font-size: rem(30px);
	}
}

.txt-2 {
	font-size: rem(18px);
    @include media('>=tablet') {
		font-size: rem(22px);
	}
}

.txt-3 {
    font-size: rem(20px);
}

.txt-4 {
    font-size: rem(18px);
    @include media('>=tablet') {
		font-size: rem(20px);
	}
}

.txt-5 {
    font-size: rem(16px);
    @include media('>=tablet') {
		font-size: rem(18px);
	}
}

.txt-6 {
	font-size: rem(16px);
}

.txt-7 {
	font-size: rem(14px);
}

.txt-8 {
	font-size: rem(12px);
}


/* WEIGHT */

.w-200 {
    font-weight: $w-200;
}
.w-300 {
    font-weight: $w-300;
}
.w-400 {
    font-weight: $w-400;
}
.w-500 {
    font-weight: $w-500;
}
.w-600 {
    font-weight: $w-600;
}
.w-700 {
    font-weight: $w-700;
}
.w-800 {
    font-weight: $w-800;
}
.w-900 {
    font-weight: $w-900;
}


/* TEXT ELEMENTS */

.cite {
	padding: rem(0 32px);
	quotes: "“" "”" "‘" "’";

	&:before,
	&:after {
		font-family: $font-title;
		vertical-align: rem(-26px);
		font-size: rem(58px);
		line-height: 0;
	}
	&:before {
		margin-left: rem(-32px);
		content: open-quote;
	}
	&:after {
		content: close-quote;
	}
	* {
		display: inline;
	}
}


/* TEXT HELPERS */
.txt-center {
	text-align: center;
}

.txt-caps {
	text-transform: uppercase;
}

.tit-split {
	strong {
		display: block;
	}
}

.txt-join {
	letter-spacing: -0.25em;
	margin-left: -0.25em;
}


/* TEXT GENÈRIC */
.text-block {
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: rem(24px);
	}

	h1, h2 {
		font-family: $font-title;
		line-height: 1.1;
		font-size: rem(24px);
		font-weight: $w-700;
		@include media('>=tablet') {
			font-size: rem(24px);
		}	
	}

	h3, h4 {
		font-weight: $w-300;
		font-size: rem(24px);
		@include media('>=tablet') {
			font-size: rem(30px);
		}	
	}

	h5 {
		font-weight: $w-700;
		font-size: rem(18px);
		@include media('>=tablet') {
			font-size: rem(20px);
		}	
	}

	blockquote {
		font-weight: $w-800;
		font-size: rem(20px);
		text-align: center;
		margin: 0 rem(32px);
	}

	a:not(.btn) {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}

	em {
		font-style: italic;
	}

	p {
		font-size: rem(16px);
		line-height: 1.6;
        strong {
            font-weight: $w-700;
        }
		+ p {
			margin-top: rem(24px);
		}
		@include media('>=tablet') {
			font-size: rem(20px);
		}	
    }
}

.block-intro {
	h2 {
		font-family: $font-base;
		font-weight: $w-300;
		font-size: rem(24px);
		@include media('>=tablet') {
			font-size: rem(30px);
		}	
	}
}